main {
    width: 100%;
    height: calc(100% - 80px);
    padding: 50px 0;
    background-color: $backgroundColor;
    overflow-y: auto;
    .wrapper {
        form {
            margin: 0 0 30px 10px;
            select {
                padding: 5px 10px;
            }
            input {
                margin-left: 10px;
                padding: 5px 10px;
            }
        }
        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .card {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: calc(1440px / 5 - 20px);
                height: 450px;
                margin: 0 10px 30px 10px;
                padding: 20px;
                text-align: center;
                border-radius: 10px;
                background-color: $cardColor;
                .card-top {
                    @include card;
                    img {
                        display: block;
                        width: 100%;
                        min-height: 250px;
                        margin-bottom: 10px;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                    h3 {
                        color: #fff;
                        font-size: 24px;
                    }
                }
                .card-bottom {
                    @include card;
                    span {
                        margin-top: 10px;
                        font-size: 18px;
                        color: $greyText;
                    }
                }
            }
        }
    }
}